.container{
  
    width: 100%;
    height: 100vh;
  
    
    background-size: cover;
    background-position: center;
    background-image: url("../../../../public/imagenes/fondo2.jpg");
    background-repeat: no-repeat;
}


