.rows{
    color:#fcf8f8
}
.rows_point{
    color:#fcf8f8;
    font-weight: 700;
    background-color: rgba(0, 128, 0, 0.719);
    padding:.5rem;
    border-radius: 50%;
    text-align: center;
    
}