.rows {
  color: #fcf8f8;
  font-size: 1rem;
}
.rows_point {
  width: 30px;
  height: 30px;
  color: #0c0b0b;
  font-weight: 500;
  background-color: rgb(242, 247, 242);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
