.rows{
    color:#fcf8f8;
    font-size: .8rem;
}
.rows_point{
    width: 30px;
    height: 30px;
    font-size: .8rem;
    color:#080202;
    font-weight: 700;
    background-color: rgb(247, 250, 247);
    padding:.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}