@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: linear-gradient(to right, #0572ee 0%, #304352 70%);
}
.nav_container {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(4, 5, 12, 0.418);

  transition: 0.3s ease;
}
.nav_container_bajando {
  width: 100%;

  margin: auto;
  position: fixed;
  background-color: rgba(2, 2, 2, 0.918);
  top: 0;
  left: 0;
  z-index: 900;

  transition: 0.3s ease;
}

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background);
  padding: 0.5rem;
}
.menu_links {
  display: flex;
  gap: 1rem;
}

.menu_botton {
  display: none;
}
@media (width< 740px) {
  .nav_container {
    width: 100vw;
    z-index: 999;
    color: #0a0a0a;
  }
  .menu_botton {
    display: block;
    width: 100%;
    position: absolute;
    top: 10;
    left: 10;
    z-index: 999;
    color: black;
    background-color: var(--background);
    overflow: hidden;
    margin-top: 0px;
  }
  .menu {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 500px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 0rem;

    min-height: 100vh;
    transition: 0.3s ease;
  }
  .menu_links {
    flex-direction: column;
    font-size: 2rem;
    color: var(--foreground);
  }

  .show {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    min-height: 100vh;
  }
}
