.card {
  width: 150px;
  height: 200px;

  overflow: hidden;
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  transition: all 0.5s;
  border-radius: 1rem 1rem 2rem 2rem;
  box-shadow: inset 0px 10px 53px 29px rgba(0, 0, 0, 0.3),
    0px 4px 13px 3px rgba(4, 119, 172, 0.521);
  background-image: url("https://res.cloudinary.com/dxi9fwjsu/image/upload/v1741537585/xvcy6zpklpugj7hc7ajo.jpg");
}
.card:hover {
  transform: scale(1.05);
  box-shadow: inset 0px 4px 33px 9px rgba(4, 119, 172, 0.521),
    0px 4px 13px 3px rgba(0, 0, 0, 0.3);
}

.txtTitle {
  color: white;
  font-weight: 900;
  font-size: .8rem;
}
@media (width<500px) {
  .card {
    width: 150px;
    height: 200px;
  }
}
